@import "library";
@import "compass/css3/transition";

#debug-info {
	@include transition(top 400ms cubic-bezier(0,0,.25,1));
	@include nobel-light;

	position: fixed;
	top: -50px;
	right: 10px;
	background: #c00;
	color: #fff;
	font-size: 14px;
	border-radius: 7px;
	padding: 5px 10px; 
	line-height: 1.2;
	z-index: 100000;
	text-transform: none;
	letter-spacing: 1px;
	
	&.show {
		top: 10px;
	}
}

@include at-small-breakpoint() {
	#debug-info {
		right: auto;
		left: -999em;
	}
}