@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@mixin spinner($bg-color: #FFFFFF, $spinner-color: #000000){
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba($bg-color, 0.3);
		top: 0;
		left: 0;
		z-index: 1;
	}

	&:after {
		content: "";
		position: absolute;
		height: 60px;
		width: 60px;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-animation: rotation .6s infinite linear;
		-moz-animation: rotation .6s infinite linear;
		-o-animation: rotation .6s infinite linear;
		animation: rotation .6s infinite linear;
		border-left: 6px solid rgba($spinner-color, .15);
		border-right: 6px solid rgba($spinner-color, .15);
		border-bottom: 6px solid rgba($spinner-color, .15);
		border-top: 6px solid rgba($spinner-color, .8);
		border-radius: 100%;
		z-index: 2;
	}
}
