@import '../model/gallery-overlay';

html,body,div {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  height: 100%;
}

.module {
  position: relative;
  padding-bottom: 56%;
  height: 100%;
  span {
    height: 100%;
  }
}

.gallery-video {
  position: relative;
  z-index: 2;
  height: 100%;
}
.BrightcoveExperience {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#video-overlay{
  @include opacity(50);
  position: absolute;
  width: 100%;
  height: 40%;
  z-index: 2;
}
iframe, object, embed {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
