@import "library";
@import "modules/carousel";

.selected-vehicle {
	width: 50%;
	padding-top: 75px;
	padding-bottom: 35px;
	text-align: center;
	float: left;
	position: relative;


	.selected-image {
		width: 90%;
		height: auto;
		max-width: 450px;
	}

	.combined-name {
		@include nobel-bold;
		text-transform: none;
		font-size: 16px;
		letter-spacing: 2px;
		max-width: 60%;
		margin: 0 auto;
		height: 20px;

		.trim-details {
			text-transform: uppercase;
		}
	}

	.general {
		@include nobel;
		font-size: 10px;
		padding-bottom: 9px;
		display: block;
		letter-spacing: 2px;
	}

	hr {
		border: 0;
		height: 2px;
		width: 38px;
		background: black;
		margin: 25px auto 15px;
	}

	.attribution {
		@include nobel-bold;
        @include font-size(11, auto, 150);
		text-align: center;
        line-height: 1.2;
        max-width: 150px;
        margin: auto;
	}
	.description {
		@include nobel-book;
		font-style: italic;
		font-size: 30px;
		line-height: 34px;
		text-transform: none;
		margin: 20px auto;
		width: 70%;
	}
	.review {
		margin-top: 5px;
		margin-bottom: 20px;
		display: none;
	}
	.review:first-child {
		display: block;
	}
	.slide .review {
		display: block;
	}
	.review a {
		text-transform: uppercase;
		font-size: 10px;
		font-family: nobel-bold, sans-serif;
		color: black;
		font-weight: bold;
		border-bottom: 1px solid black;
		width: 68px;
		padding-bottom: 2px;
		letter-spacing: 1px;
		text-decoration: none;

		&:hover {
			border-bottom: none;
		}
	}

 	.chrome-attribution {
 		top: 20px;
 	}
}