@import "library";
@import "modules/carousel";

/** 
 * Styling the content in the carousel
 * Note: number of columns changes per breakpoint
 **************************************************/
.vehicle-offers {
	@include grid-container;
	min-height: 100px;

	.offer {
		@include grid-column(4);
		display: none;
		text-align: center;

		button {
			margin: auto;
		}

		img {
			width: 100%;
		}
	}

	/* Once the slide class is applied, allow the offer to be shown */
	.slide .offer {
		display: block;
	}

	.offer:nth-child(3n) {
		margin-right: 0;
	}
}

@include at-medium-breakpoint() {
	.vehicle-offers {
		.offer {
			@include grid-column(6);
		}

		.offer:nth-child(2n) {
			margin-right: 0;
		}
	}
}

@include at-small-breakpoint() {
	.vehicle-offers {
		.offer {
			@include grid-column(12);
		}
	}
}
/**************************************************/

.wrapper {
	@include grid-container;
	margin: auto;
}

.page-heading {
	margin: 30px 0;

	h1 {
		@include nobel-book;
		letter-spacing: 4px;
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
	}
}


div[class^="global"] {
	margin: 15px 10px 10px;
}

.row {
	position: relative;
}

#brightcove-video {
	width: 790px;
	height: 490px;
	position: relative;
	z-index: 0;
}

.img-over-video {
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	z-index: 10;
}

.overlay-controls {
	background: url(/assets/img/global/video-bg.png) repeat 0 0;
	color: red;
	display: block;
	position: absolute;
	font-weight: bold;
	font-size: 60px;
	top: 0;
	width: 100%;
	height: 50%;
	padding-top: 30%;
	text-align: center;
	text-decoration: none;
	z-index: 10;
}