@import "grid";

/* demo grid */
.grid {
	@include susy-grid-background;
	@include container;
	max-width: $large-max;
	h1 {
		margin: 20px auto;
		text-align: center;
	}
}

.grid-item{
	background-color: #000;
	color: #FFF;
	height: 100px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 100px;
}

.semantic-name-one{
	@include grid-column(1);
}
.semantic-name-two{
	@include grid-column(2);
	margin-right: 0; // remove margin
}
.semantic-name-three{
	@include grid-column(3);
}
.semantic-name-four{
	@include grid-column(4);
	@include omega; // last item position
}
.semantic-name-five{
	@include grid-column(5);
}
.semantic-name-six{
	@include grid-column(6, 12);
}
.semantic-name-seven{
	@include grid-column(7);
}
.semantic-name-eight{
	@include grid-column(8);
	margin-left: columns(1); // offset
}
.semantic-name-nine{
	@include grid-column(9);
}
.semantic-name-ten{
	@include grid-column(10);
}
.semantic-name-eleven{
	@include grid-column(11);
}
.semantic-name-twelve{
	@include grid-column(12);
}

@include at-large-breakpoint() {
	.grid-item {
		background: green;
	}
}

@include at-medium-breakpoint() {
	.grid-item {
		background: red;
	}
}

@include at-small-breakpoint() {
	.grid {
		padding: 0;
	}
	.grid-item {
		@include full-width;
		background: blue;
	}
}
