@import 'library';

.page-wrap {
	border-top: 1px solid #efefef;
}

.col {
	@include grid-column(4);
}
.col-last {
	@include omega;
}

.sitemap-links {
	@include grid-container;

	h2 {
		@include nobel-bold;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.section {
		border-bottom: 1px dotted #000;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	a {
		@include nobel;
		text-transform: none;
		text-decoration: none;
		color: #000;
		display: block;
		margin-bottom: 5px;
	}
	a:hover {
		text-decoration: underline;
	}
}

.page-heading {
	margin: 30px 0;

	h1 {
		@include nobel-book;
		letter-spacing: 4px;
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
	}
}

@include at-breakpoint($small-min $medium-max $total-columns) {
	.col {
		@include grid-column(12);
	}
}