@import 'features';

$item-padding: 4.15%;

#accessories-container{
    width: 100%;
    max-width: $large-max;
    /* padding-left: 22.1875%; */
    @include box-sizing(border-box);
    @include clearfix;
    margin: 0px auto;
    .content{
        min-height: 300px;
        float: right;
        @include clearfix;
        @include box-sizing(border-box);
        padding: 0;
        h1{
          @include heading;
          padding: 40px 0 0 0;
          text-align: center;
        }

    }

    .accessories-toggle {
        text-align: center;
        margin-top: 3em;
        visibility: hidden;
        .toggle-item {
            display: inline-block;
            font-size: 13px;
            letter-spacing: 0.1em;
            font-family: "nobel-book", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            cursor: pointer;
            padding: 2px 10px 6px;

        }
        #f-sport-toggle:hover {
            font-family: "nobel-bold", Helvetica, Arial, sans-serif;
        }
        #genuine-toggle:hover {
            font-family: "nobel-bold", Helvetica, Arial, sans-serif;
        }
    } 
    #genuine-toggle {
        &.greyed {
            opacity: .5;
            cursor: default;
            &:hover {
                font-family: "nobel-book", Helvetica, Arial, sans-serif;
            }
        }
    }
    #f-sport-toggle {
        border-right: 1px dotted #000;
        &.greyed {
            opacity: .5;
            cursor: default;
            &:hover {
                font-family: "nobel-book", Helvetica, Arial, sans-serif;
            }
        }
    }   
    #f-sport-toggle.selected {
        background: url("/assets/img/global/nav/tools-arrow.png") no-repeat center bottom;
        font-family: "nobel-bold", Helvetica, Arial, sans-serif;
    }
    #genuine-toggle.selected {
        background: url("/assets/img/global/nav/tools-arrow.png") no-repeat center bottom;
        font-family: "nobel-bold", Helvetica, Arial, sans-serif;
    }


    .accessory-item{
        float: none;
        position: relative;
        @include box-sizing(border-box);
        //margin-right: $item-padding;
        width: 30.4%;
        /* padding-bottom: 36px; */
        border-bottom: 0px solid #000;
        margin-bottom: 40px;
        overflow: hidden;
        padding-top: 39px;
        display: inline-block;
        vertical-align: top;
        border-top: 0px;
        .sport{
            width: auto;
            display: block;
            margin: 0px auto;
        }

        .title{
            @include nobel-regular;
            @include font-size(15, 18, 200);
            min-height: 50px;
            overflow: hidden;
            text-align: center;
        }
        img{
            width: 100%;
            display: block;
            margin-bottom: 21px;
        }
        .description{
            @include palatino;
            @include font-size(13, 14, 20);
            display: none;

            b, strong {
                font-weight: bold;
            }

            i, em {
                font-style: italic;
            }
        }

        .links{
            display: none;
        }
        &.border {
            border-top: 1px solid #000;
        }
        &.top-row
        {
            border-top: 0px;
        }
        &.double-left{
            padding-right: $item-padding;
            @include box-sizing(content-box);
            margin-right: 0px;
        }
        &.margins {
            margin-right: $item-padding;
        }
        &.last{
            margin-right: 0px;
        }
        &.gutter{
            margin-right: $gutter-width;
        }

    }

    .tout{
        float: none;
        @include box-sizing(border-box);
        margin-right: $item-padding;
        width: 65.41%;
        padding-top: 82px;
        border-top: 1px solid #000;
        margin-bottom: 40px;
        overflow: hidden;
        text-align: center;
        .title{
            padding-top: 0px;
        }
        .description{
            width: 72.74%;
            margin: 0px auto;
            text-align: center;
            @include font-size(36, 15, 36);
            @include nobel-book-italic;
            text-transform: none;
            margin-bottom: 40px;
            overflow: visible;
            max-height: 100%;
            display: block;
        }
        .link{
            @include link;
            text-align: center;
        }
    }

    .price{
        @include pakt;
        @include font-size(26, 42, 100);
        text-align: center;
        margin: 0px auto;
        min-height: 21px;
    }

    .super{
       vertical-align: text-top;
       @include font-size(16, 23.5, 100);
    }

    .sub-title{
        height: 25px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding-top: 23.5px;

        a {
          @include nobel-bold;
          @include font-size(11, 13, 100);
          text-decoration: underline;
          color: #000;
        }
    }


}

@include at-medium-breakpoint{
    #accessories-container{
        .content{
//            width: 74.16%;
        }
        .accessory-item{
            width: 47.75%;

        }
        .tout{
            width: 100%;
            padding-top: 40px;
        }
    }
}

@include at-small-breakpoint{
    #accessories-container{
        .content{
            width: 100%;
            padding: 0px $gutter-width;

            h1 {
                padding-bottom: 30px;
                padding-top: 30px;
                border-bottom: 1px solid black;
            }
        }
        .accessory-item{
            width: 100%;
            &:nth-child(4) {
                margin-right: $item-padding;
                border-top: 1px solid #000;
            }

            &:nth-child(3),
            &:nth-child(5){
                margin-right: 0px;
            }
        }
        .tout{
            width: 100%;
        }
        .super{
            font-size: 50%;
            line-height: 1.7em;
        }
        .accessories-toggle {
            padding-top: 31px;
            margin-top: 0;
            width: 100%;
            #f-sport-toggle {
                width: 8em;
                padding-right: 20px;
            }
            #genuine-toggle {
                width: 8em;
            }
        }
    }
}


