@media print {
  * { background: transparent !important; color:#000000 !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline;font-weight:500;padding-left:3px;padding-right:3px; }
  a[href]:before { content: " ["; }
  a[href]:after { content: "](" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  .hero { border-bottom: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .mobile { display:none!important; }

}