@import "modules/dropkick";

.find-vehicle {
	@include transition(opacity 400ms ease, max-height 400ms ease);
	border-top: 1px dotted #000;
	width: 90%;
	margin-left: 5%;
	opacity: 1;
	max-height: 2000px;

	&.hidden {
		opacity: 0;
		max-height: 0px;

		h3 {
			margin: 0px;
			height: 0px;
			padding: 0px;
		}
	}

	button.disabled {
		background: #e1e1e1;
		border-color: #e1e1e1;
		color: #fff;
		cursor: auto;

		&:hover {
			cursor: auto !important;
			background: #e1e1e1 !important;
		}
	}
}

.find-vehicle form {
	text-align: center;
	width: 297px;
	margin: auto;
	font-size: 13px;

	.action {
		margin-top: 30px;
	}

	.dk_toggle {
		height: 40px;
		padding-right: 20px;
		overflow: hidden;
	}
	.dk_container {
		margin-bottom: 10px;
	}
	.dk_options_inner {
		width: 296px;
	}
}

/* custom scrollbars */
.dk_container {

	.jspContainer {
		max-height: 1000px;
	}

	.jspVerticalBar {
		right: 17px;	
		width: 5px;

		.jspArrow {
			height: 11px;
			overflow: hidden;
			padding: 0;
			opacity: 0;
		}
	}

	.jspTrack {
		background: none;
	}
	.jspDrag {
		background: #e9e9e9;
	}

}



@include at-small-breakpoint() {
	.find-vehicle form {
		width: 280px;
	}

	/* prevents iphone from zooming on focus */
	select {
		font-size: 16px;
	}
}

