@import "compass/css3/transition";

#full-page-loader {
    @include transition(opacity 300ms ease);
    background: #fff;
    position: absolute;
    right: 0;
    z-index: 99;
    opacity: 0;
    width: 0;
    opacity: 0;

    &.on {
        opacity: .6;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }   
    
    .loading.animation {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -18px;
        z-index: 101;
    }
}